<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= movie.title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1><%= movie.title %></h1>
  <p><%= movie.overview %></p>
  <p>Rating: <%= movie.vote_average %> / 10</p>
  <b><a href="/" style="background-color: gray; border: 2px solid black; padding: 4px;margin-left: 50rem;">Go Back</a></b>
  <footer class="footer" style="margin-top: 65.7vh;">
    <div class="footer__parralax">
      <div class="footer__parralax-trees"></div>
      <div class="footer__parralax-moto"></div>
      <div class="footer__parralax-secondplan"></div>
      <div class="footer__parralax-premierplan"></div>
      <div class="footer__parralax-voiture"></div>
  </footer>
</body>
</html>
